langchain==0.3.26
langgraph>=1.0.0
langgraph-checkpoint>=3.0.1
langsmith==0.4.4
fastapi>=0.115.5,<1.0.0
uvicorn>=0.29.0,<1.0.0
python-dotenv>=1.0.0,<2.0.0 
langgraph-cli[inmem]==0.3.3
langchain-google-genai>=2.0.0
langchain-huggingface>=0.0.1
huggingface_hub>=0.20.0
